<a href="https://colab.research.google.com/github/gersondeoliveira/Coursera_Capstone/CapstoneWeek3second.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This notebook will be mainly used for the capstone project.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
print( "Hello Capstone Project Course!")

Hello Capstone Project Course!

We import BeautifulSoup that we will use to scrape the Wikipedia page
We import urllib.request which will be use to download the Wikipedia page html code

In [287]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
html = urlopen("http://www.google.com/").read()
#print(html)
quote_page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = urlopen(quote_page)
soup = BeautifulSoup(page, 'html.parser')

In [247]:
import pandas as pd
import numpy as np

Creating the dataframe df

In [259]:
df = pd.DataFrame(columns = ["Postal Code", "Borough", "Neighbourhood"])
df

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

We are filling the dataframe with a single line of code thanks to BeautifulSoup

In [260]:
for i, tr in enumerate(soup.find_all('tr')[1:-5]):
  df.loc[i] = [tr.find_all('td')[i].text.replace('\n', '') for i in range(3)]

In [261]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

We replace the 'Not assigned with zeros'.

In [262]:
df.replace('Not assigned', 0, inplace = True)
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A                 0                          0
1         M2A                 0                          0
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

We drop all lines with the Borough not assigned and we verify that all the Neighbourhoods are filled

In [263]:
df = df.loc[df['Borough']!=0]
print((df["Neighbourhood"] == 0).sum())
df.reset_index(inplace = True)
df = df.drop('index', axis = 1)
df.head()

0

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

We print the shape of the dataframe as expected

In [264]:
print( "the shape of the DataFrame is: ", df.shape)

the shape of the DataFrame is:  (103, 3)

#Second Part

Mounting my Drive as I am on Google Colab

In [265]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [266]:
cd drive/MyDrive/Capstone

[Errno 2] No such file or directory: 'drive/MyDrive/Capstone'
/content/drive/My Drive/Capstone

Taking the file from the drive

In [267]:
geo_df = pd.read_csv("Geospatial_Coordinates.csv")

Joining the two dataframe on Postal Code

In [284]:
df2 = df.join(geo_df.set_index('Postal Code'), on = 'Postal Code')
df2

    Postal Code           Borough  ...   Latitude  Longitude
0           M3A        North York  ...  43.753259 -79.329656
1           M4A        North York  ...  43.725882 -79.315572
2           M5A  Downtown Toronto  ...  43.654260 -79.360636
3           M6A        North York  ...  43.718518 -79.464763
4           M7A  Downtown Toronto  ...  43.662301 -79.389494
..          ...               ...  ...        ...        ...
98          M8X         Etobicoke  ...  43.653654 -79.506944
99          M4Y  Downtown Toronto  ...  43.665860 -79.383160
100         M7Y      East Toronto  ...  43.662744 -79.321558
101         M8Y         Etobicoke  ...  43.636258 -79.498509
102         M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]

In [285]:
df2.shape

(103, 5)